<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<web-app>
	<servlet>
		<servlet-name>test</servlet-name>
		<servlet-class>controller.Controller</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/HelloWorld</url-pattern>
	</servlet-mapping>
</web-app>